# About the Probleam/Task

Take care of your employees: 
A drastic thing happened and ABCXYZ123 Technical Solutions have lost one of their important employees. 
The company is now very concerned about the health of their employees and would want you to find that 
set of employees who are in need or may be in need of treatment, taking into account multiple attributes 
that are already stored in the database. So buckle up the wellness of your employees is in your hand.


The objective of the problem:
The objective is to predict values “treatment” attribute from the given features of the Test data.
The predictions are to be written to a CSV file along with ID which is the unique identifier for each tuple.

Importing Libraries and Datasets to understand the Datasets

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.preprocessing import LabelEncoder, StandardScaler
label = LabelEncoder()
Ss = StandardScaler()
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import f1_score


import warnings
warnings.filterwarnings('ignore')

In [2]:
train = pd.read_csv('training_.csv')
test = pd.read_csv('test.csv')

In [3]:
train.shape, test.shape

((1048, 28), (210, 27))

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048 entries, 0 to 1047
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   S.No                       1048 non-null   int64
 1   Timestamp                  1048 non-null   object
 2   Age                        1048 non-null   int64
 3   Gender                     1048 non-null   object
 4   Country                    1048 non-null   object
 5   state                      636 non-null    object
 6   self_employed              1030 non-null   object
 7   family_history             1048 non-null   object
 8   treatment                  1048 non-null   object
 9   work_interfere             812 non-null    object
 10  no_employees               1048 non-null   object
 11  remote_work                1048 non-null   object
 12  tech_company               1048 non-null   object
 13  benefits                   1048 non-null   object
 14  care_options               1048 non-null   object
 15  wellness_program           1048 non-null   object
 16  seek_help                  1048 non-null   object
 17  anonymity                  1048 non-null   object
 18  leave                      1048 non-null   object
 19  mental_health_consequence  1048 non-null   object
 20  phys_health_consequence    1048 non-null   object
 21  coworkers                  1048 non-null   object
 22  supervisor                 1048 non-null   object
 23  mental_health_interview    1048 non-null   object
 24  phys_health_interview      1048 non-null   object
 25  mental_vs_physical         1048 non-null   object
 26  obs_consequence            1048 non-null   object
 27  comments                   132 non-null    object
dtypes: int64(2), object(26)
memory usage: 229.4+ KB

In [7]:
train.describe(include = 'all')

,S.No,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
count,1048.000000,1048,1.048000e+03,1048,1048,636,1030,1048,1048,812,...,1048,1048,1048,1048,1048,1048,1048,1048,1048,132
unique,NaN,1035,NaN,45,42,45,2,2,2,4,...,5,3,3,3,3,3,3,3,2,128
top,NaN,2014-08-27 12:31:41,NaN,Male,United States,CA,No,No,No,Sometimes,...,Don't know,No,No,Some of them,Yes,No,Maybe,Don't know,No,* Small family business - YMMV.
freq,NaN,2,NaN,518,644,123,906,643,536,386,...,466,424,773,651,439,835,461,471,902,5
mean,524.500000,NaN,9.541988e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,302.675844,NaN,3.089010e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,-1.726000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,262.750000,NaN,2.700000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,524.500000,NaN,3.100000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,786.250000,NaN,3.600000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1048.000000,NaN,1.000000e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   S.No                       210 non-null    int64
 1   Timestamp                  210 non-null    object
 2   Age                        210 non-null    int64
 3   Gender                     210 non-null    object
 4   Country                    210 non-null    object
 5   state                      107 non-null    object
 6   self_employed              210 non-null    object
 7   family_history             210 non-null    object
 8   work_interfere             182 non-null    object
 9   no_employees               210 non-null    object
 10  remote_work                210 non-null    object
 11  tech_company               210 non-null    object
 12  benefits                   210 non-null    object
 13  care_options               210 non-null    object
 14  wellness_program           210 non-null    object
 15  seek_help                  210 non-null    object
 16  anonymity                  210 non-null    object
 17  leave                      210 non-null    object
 18  mental_health_consequence  210 non-null    object
 19  phys_health_consequence    210 non-null    object
 20  coworkers                  210 non-null    object
 21  supervisor                 210 non-null    object
 22  mental_health_interview    210 non-null    object
 23  phys_health_interview      210 non-null    object
 24  mental_vs_physical         210 non-null    object
 25  obs_consequence            210 non-null    object
 26  comments                   32 non-null     object
dtypes: int64(2), object(25)
memory usage: 44.4+ KB

In [9]:
test.describe(include = 'all')

,S.No,Timestamp,Age,Gender,Country,state,self_employed,family_history,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
count,210.000000,210,210.000000,210,210,107,210,210,182,210,...,210,210,210,210,210,210,210,210,210,32
unique,NaN,210,NaN,14,29,23,2,2,4,6,...,5,3,3,3,3,3,3,3,2,32
top,NaN,2014-09-01 08:23:15,NaN,Male,United States,CA,No,No,Sometimes,More than 1000,...,Don't know,Maybe,No,Some of them,Yes,No,Maybe,Don't know,No,Bipolar disorder
freq,NaN,1,NaN,96,106,15,189,123,79,55,...,97,97,151,122,77,172,96,105,173,1
mean,105.500000,NaN,32.547619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,60.765944,NaN,8.061968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,-1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,53.250000,NaN,27.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,105.500000,NaN,32.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,157.750000,NaN,37.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,210.000000,NaN,72.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Data Mining/Cleaning

In [10]:
test.isna().sum()

S.No                           0
Timestamp                      0
Age                            0
Gender                         0
Country                        0
state                        103
self_employed                  0
family_history                 0
work_interfere                28
no_employees                   0
remote_work                    0
tech_company                   0
benefits                       0
care_options                   0
wellness_program               0
seek_help                      0
anonymity                      0
leave                          0
mental_health_consequence      0
phys_health_consequence        0
coworkers                      0
supervisor                     0
mental_health_interview        0
phys_health_interview          0
mental_vs_physical             0
obs_consequence                0
comments                     178
dtype: int64

In [11]:
train.isna().sum()

S.No                           0
Timestamp                      0
Age                            0
Gender                         0
Country                        0
state                        412
self_employed                 18
family_history                 0
treatment                      0
work_interfere               236
no_employees                   0
remote_work                    0
tech_company                   0
benefits                       0
care_options                   0
wellness_program               0
seek_help                      0
anonymity                      0
leave                          0
mental_health_consequence      0
phys_health_consequence        0
coworkers                      0
supervisor                     0
mental_health_interview        0
phys_health_interview          0
mental_vs_physical             0
obs_consequence                0
comments                     916
dtype: int64

After looking into the dataset here are the things that i noticed:

1. Amoung 28 columns in training dataset 25 are of 'object' datatype and 2 are int64 
   and Timestamp is object which need is to be converted to datetime_dtype.
2. state column has 412 missing values in Training Dataset and 103 in Testing.
3. work_interfere column has 236 missing values in Training Dataset and 28 in Testing.
4. self_employed column has 18 missing values in Training Dataset.
5. comments column has 916 missing values in Training Dataset and 178 in Testing.

MY Views:

1. Drop comments columm from Training and Testing datasets as almost 90% of data is missing.
   so it cannot be considered as Important feature for predicting the Outcome.
2. since state and work_interfere columns are object datatypes they are to be filled with mode.
3. object columns are to be converted using LabelEncoder for predicting the Outcome.

In [18]:
train['Timestamp'] = pd.to_datetime(train['Timestamp'])
test['Timestamp'] = pd.to_datetime(test['Timestamp'])

In [21]:
train['Year'] = train['Timestamp'].dt.year
train['Month'] = train['Timestamp'].dt.month
train['Day'] = train['Timestamp'].dt.day
train['Hours'] = train['Timestamp'].dt.hour
train['Minutes'] = train['Timestamp'].dt.minute
train['Seconds'] = train['Timestamp'].dt.second
train['Weekdays'] = train['Timestamp'].dt.weekday
train['Weeks'] = train['Timestamp'].dt.week

In [22]:
test['Year'] = test['Timestamp'].dt.year
test['Month'] = test['Timestamp'].dt.month
test['Day'] = test['Timestamp'].dt.day
test['Hours'] = test['Timestamp'].dt.hour
test['Minutes'] = test['Timestamp'].dt.minute
test['Seconds'] = test['Timestamp'].dt.second
test['Weekdays'] = test['Timestamp'].dt.weekday
test['Weeks'] = test['Timestamp'].dt.week

In [24]:
#drop comments column
Train = train.drop(['comments','Timestamp'], axis = 1)
Test = test.drop(['comments','Timestamp'], axis = 1)

In [25]:
#filling values of missing columns with mode()[0]

#State column
Train['state'] = Train['state'].fillna(Train['state'].mode()[0])
Test['state'] = Test['state'].fillna(Test['state'].mode()[0])

#self_employed column
Train['self_employed'] = Train['self_employed'].fillna(Train['self_employed'].mode()[0])

#work_interfere column
Train['work_interfere'] = Train['work_interfere'].fillna(Train['work_interfere'].mode()[0])
Test['work_interfere'] = Test['work_interfere'].fillna(Test['work_interfere'].mode()[0])

In [35]:
Train['Gender'].unique()

array(['Female', 'M', 'Male', 'male', 'female', 'm', 'Male-ish', 'maile',
       'Trans-female', 'Cis Female', 'F', 'something kinda male?',
       'Cis Male', 'Woman', 'f', 'Mal', 'Male (CIS)', 'queer/she/they',
       'non-binary', 'Femake', 'woman', 'Make', 'Nah', 'All', 'Enby',
       'fluid', 'Genderqueer', 'Female ', 'Androgyne', 'Agender',
       'cis-female/femme', 'Guy (-ish) ^_^', 'male leaning androgynous',
       'Male ', 'Man', 'Trans woman', 'msle', 'Neuter', 'Female (trans)',
       'queer', 'Female (cis)', 'Mail', 'cis male', 'A little about you',
       'Malr'], dtype=object)

In [36]:
Train['Gender'] = Train['Gender'].replace(['M', 'Male', 'male', 'm', 'Male-ish', 'maile', 'something kinda male?',
                                           'Cis Male', 'Mal', 'Male (CIS)', 'Make', 'male leaning androgynous',
                                           'Male ', 'Man', 'msle', 'Mail', 'cis male','Malr', 'Cis Man'],'MALE')
Test['Gender'] = Test['Gender'].replace(['M', 'Male', 'male', 'm', 'Male-ish', 'maile', 'something kinda male?',
                                         'Cis Male', 'Mal', 'Male (CIS)', 'Make', 'male leaning androgynous',
                                         'Male ', 'Man', 'msle', 'Mail', 'cis male','Malr', 'Cis Man'],'MALE')

In [37]:
Train['Gender'] = Train['Gender'].replace(['Female', 'Trans woman', 'female', 'Trans-female', 'Cis Female', 'F',
                                           'Woman', 'f', 'queer/she/they', 'Femake', 'woman', 'fluid', 'Genderqueer', 
                                           'Female ', 'cis-female/femme', 'Female (trans)', 
                                           'queer', 'Female (cis)', 'femail'],'FEMALE')

Test['Gender'] = Test['Gender'].replace(['Female', 'Trans woman', 'female', 'Trans-female', 'Cis Female', 'F',
                                         'Woman', 'f', 'queer/she/they', 'Femake', 'woman', 'fluid', 'Genderqueer', 
                                         'Female ', 'cis-female/femme', 'Female (trans)', 
                                         'queer', 'Female (cis)', 'femail'],'FEMALE')

In [38]:
Train['Gender'] = Train['Gender'].replace(['non-binary', 'Nah', 'All', 'Enby', 'Androgyne',
                                           'Agender', 'Guy (-ish) ^_^', 'Neuter', 'A little about you', 'p',
                                           'ostensibly male, unsure what that really means'],'OTHERS')

Test['Gender'] = Test['Gender'].replace(['non-binary', 'Nah', 'All', 'Enby', 'Androgyne',
                                         'Agender', 'Guy (-ish) ^_^', 'Neuter', 'A little about you', 'p',
                                         'ostensibly male, unsure what that really means'],'OTHERS')

In [39]:
Train['Gender'].unique()

array(['FEMALE', 'MALE', 'OTHERS'], dtype=object)

In [42]:
Train['Age'].unique()

array([         37,          44,          32,          31,          33,
                35,          39,          42,          23,          29,
                36,          27,          46,          41,          34,
                30,          40,          38,          50,          24,
                18,          28,          26,          22,          19,
                25,          45,          21,         -29,          43,
                56,          60,          54,         329,          55,
       99999999999,          48,          20,          57,          58,
                47,          62,          51,          65,          49,
             -1726,           5,          53,          61,           8],
      dtype=int64)

In [50]:
Train['Age'] = Train['Age'].replace([99999999999, 1726, 29, 329, ], 31)

In [51]:
Test['Age'].unique()

array([39, 26, 23, 35, 36, 42, 27, 33, 31, 28, 29, 44, 25, 24, 34, 48, 43,
       41, 40, 37, 32, 30, 38, 11, 45, 50, 46, 20, -1, 21, 51, 72, 56, 60,
       22], dtype=int64)

In [58]:
Test['Age'] = Test['Age'].replace([-1],32)

In [62]:
Train.columns

Index(['S.No', 'Age', 'Gender', 'Country', 'state', 'self_employed',
       'family_history', 'treatment', 'work_interfere', 'no_employees',
       'remote_work', 'tech_company', 'benefits', 'care_options',
       'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence', 'Year', 'Month', 'Day',
       'Hours', 'Minutes', 'Seconds', 'Weekdays', 'Weeks'],
      dtype='object')

In [64]:
cols = ['Country', 'state',
        'self_employed', 'family_history', 'work_interfere',
        'no_employees', 'remote_work', 'tech_company', 'benefits',
        'care_options', 'wellness_program', 'seek_help', 'anonymity', 'leave',
        'mental_health_consequence', 'phys_health_consequence', 'coworkers',
        'supervisor', 'mental_health_interview', 'phys_health_interview',
        'mental_vs_physical', 'obs_consequence']

for i in cols:
    Train['Gender '+str(i)] = Train['Gender'].astype(str)+'_'+Train[i].astype(str)
    Test['Gender '+str(i)] = Test['Gender'].astype(str)+'_'+Test[i].astype(str)

In [65]:
cols = ['self_employed', 'family_history', 'work_interfere',
        'no_employees', 'remote_work', 'tech_company', 'benefits',
        'care_options', 'wellness_program', 'seek_help', 'anonymity', 'leave',
        'mental_health_consequence', 'phys_health_consequence', 'coworkers',
        'supervisor', 'mental_health_interview', 'phys_health_interview',
        'mental_vs_physical', 'obs_consequence']

for i in cols:
    Train['state '+str(i)] = Train['state'].astype(str)+'_'+Train[i].astype(str)
    Test['state '+str(i)] = Test['state'].astype(str)+'_'+Test[i].astype(str)

In [61]:
cols = ['family_history', 'work_interfere',
        'no_employees', 'remote_work', 'tech_company', 'benefits',
        'care_options', 'wellness_program', 'seek_help', 'anonymity', 'leave',
        'mental_health_consequence', 'phys_health_consequence', 'coworkers',
        'supervisor', 'mental_health_interview', 'phys_health_interview',
        'mental_vs_physical', 'obs_consequence']

for i in cols:
    Train1['self_employed '+str(i)] = Train['self_employed'].astype(str)+'_'+Train[i].astype(str)
    Test1['self_employed '+str(i)] = Test['self_employed'].astype(str)+'_'+Test[i].astype(str)

In [66]:
cols = ['work_interfere',
        'no_employees', 'remote_work', 'tech_company', 'benefits',
        'care_options', 'wellness_program', 'seek_help', 'anonymity', 'leave',
        'mental_health_consequence', 'phys_health_consequence', 'coworkers',
        'supervisor', 'mental_health_interview', 'phys_health_interview',
        'mental_vs_physical', 'obs_consequence']

for i in cols:
    Train['family_history '+str(i)] = Train['family_history'].astype(str)+'_'+Train[i].astype(str)
    Test['family_history '+str(i)] = Test['family_history'].astype(str)+'_'+Test[i].astype(str)

In [67]:
cols = ['no_employees', 'remote_work', 'tech_company', 'benefits',
        'care_options', 'wellness_program', 'seek_help', 'anonymity', 'leave',
        'mental_health_consequence', 'phys_health_consequence', 'coworkers',
        'supervisor', 'mental_health_interview', 'phys_health_interview',
        'mental_vs_physical', 'obs_consequence']

for i in cols:
    Train['work_interfere '+str(i)] = Train['work_interfere'].astype(str)+'_'+Train[i].astype(str)
    Test['work_interfere'+str(i)] = Test['work_interfere'].astype(str)+'_'+Test[i].astype(str)

In [68]:
cols = ['remote_work', 'tech_company', 'benefits',
        'care_options', 'wellness_program', 'seek_help', 'anonymity', 'leave',
        'mental_health_consequence', 'phys_health_consequence', 'coworkers',
        'supervisor', 'mental_health_interview', 'phys_health_interview',
        'mental_vs_physical', 'obs_consequence']

for i in cols:
    Train['no_employees '+str(i)] = Train['no_employees'].astype(str)+'_'+Train[i].astype(str)
    Test['no_employees'+str(i)] = Test['no_employees'].astype(str)+'_'+Test[i].astype(str)

In [69]:
cols = ['tech_company', 'benefits',
        'care_options', 'wellness_program', 'seek_help', 'anonymity', 'leave',
        'mental_health_consequence', 'phys_health_consequence', 'coworkers',
        'supervisor', 'mental_health_interview', 'phys_health_interview',
        'mental_vs_physical', 'obs_consequence']

for i in cols:
    Train['remote_work '+str(i)] = Train['remote_work'].astype(str)+'_'+Train[i].astype(str)
    Test['remote_work'+str(i)] = Test['remote_work'].astype(str)+'_'+Test[i].astype(str)

In [70]:
cols = ['benefits',
        'care_options', 'wellness_program', 'seek_help', 'anonymity', 'leave',
        'mental_health_consequence', 'phys_health_consequence', 'coworkers',
        'supervisor', 'mental_health_interview', 'phys_health_interview',
        'mental_vs_physical', 'obs_consequence']

for i in cols:
    Train['tech_company '+str(i)] = Train['tech_company'].astype(str)+'_'+Train[i].astype(str)
    Test['tech_company'+str(i)] = Test['tech_company'].astype(str)+'_'+Test[i].astype(str)

In [71]:
cols = ['care_options', 'wellness_program', 'seek_help', 'anonymity', 'leave',
        'mental_health_consequence', 'phys_health_consequence', 'coworkers',
        'supervisor', 'mental_health_interview', 'phys_health_interview',
        'mental_vs_physical', 'obs_consequence']

for i in cols:
    Train['benefits '+str(i)] = Train['benefits'].astype(str)+'_'+Train[i].astype(str)
    Test['benefits'+str(i)] = Test['benefits'].astype(str)+'_'+Test[i].astype(str)

In [72]:
cols = ['wellness_program', 'seek_help', 'anonymity', 'leave',
        'mental_health_consequence', 'phys_health_consequence', 'coworkers',
        'supervisor', 'mental_health_interview', 'phys_health_interview',
        'mental_vs_physical', 'obs_consequence']

for i in cols:
    Train['care_options'+str(i)] = Train['care_options'].astype(str)+'_'+Train[i].astype(str)
    Test['care_options'+str(i)] = Test['care_options'].astype(str)+'_'+Test[i].astype(str)

In [73]:
cols = ['seek_help', 'anonymity', 'leave',
        'mental_health_consequence', 'phys_health_consequence', 'coworkers',
        'supervisor', 'mental_health_interview', 'phys_health_interview',
        'mental_vs_physical', 'obs_consequence']

for i in cols:
    Train['wellness_program'+str(i)] = Train['wellness_program'].astype(str)+'_'+Train[i].astype(str)
    Test['wellness_program'+str(i)] = Test['wellness_program'].astype(str)+'_'+Test[i].astype(str)

In [74]:
cols = ['anonymity', 'leave',
        'mental_health_consequence', 'phys_health_consequence', 'coworkers',
        'supervisor', 'mental_health_interview', 'phys_health_interview',
        'mental_vs_physical', 'obs_consequence']

for i in cols:
    Train['seek_help'+str(i)] = Train['seek_help'].astype(str)+'_'+Train[i].astype(str)
    Test['seek_help'+str(i)] = Test['seek_help'].astype(str)+'_'+Test[i].astype(str)

In [75]:
cols = ['leave',
        'mental_health_consequence', 'phys_health_consequence', 'coworkers',
        'supervisor', 'mental_health_interview', 'phys_health_interview',
        'mental_vs_physical', 'obs_consequence']

for i in cols:
    Train['anonymity'+str(i)] = Train['anonymity'].astype(str)+'_'+Train[i].astype(str)
    Test['anonymity'+str(i)] = Test['anonymity'].astype(str)+'_'+Test[i].astype(str)

In [76]:
cols = ['mental_health_consequence', 'phys_health_consequence', 'coworkers',
        'supervisor', 'mental_health_interview', 'phys_health_interview',
        'mental_vs_physical', 'obs_consequence']

for i in cols:
    Train['leave'+str(i)] = Train['leave'].astype(str)+'_'+Train[i].astype(str)
    Test['leave'+str(i)] = Test['leave'].astype(str)+'_'+Test[i].astype(str)

In [77]:
cols = ['phys_health_consequence', 'coworkers',
        'supervisor', 'mental_health_interview', 'phys_health_interview',
        'mental_vs_physical', 'obs_consequence']

for i in cols:
    Train['mental_health_consequence'+str(i)] = Train['mental_health_consequence'].astype(str)+'_'+Train[i].astype(str)
    Test['mental_health_consequence'+str(i)] = Test['mental_health_consequence'].astype(str)+'_'+Test[i].astype(str)

In [74]:
cols = ['coworkers',
        'supervisor', 'mental_health_interview', 'phys_health_interview',
        'mental_vs_physical', 'obs_consequence']

for i in cols:
    Train1['phys_health_consequence'+str(i)] = Train['phys_health_consequence'].astype(str)+'_'+Train[i].astype(str)
    Test1['phys_health_consequence'+str(i)] = Test['phys_health_consequence'].astype(str)+'_'+Test[i].astype(str)

In [79]:
cols = ['supervisor', 'mental_health_interview', 'phys_health_interview',
        'mental_vs_physical', 'obs_consequence']

for i in cols:
    Train['coworkers'+str(i)] = Train['coworkers'].astype(str)+'_'+Train[i].astype(str)
    Test['coworkers'+str(i)] = Test['coworkers'].astype(str)+'_'+Test[i].astype(str)

In [80]:
cols = ['mental_health_interview', 'phys_health_interview',
        'mental_vs_physical', 'obs_consequence']

for i in cols:
    Train['supervisor'+str(i)] = Train['supervisor'].astype(str)+'_'+Train[i].astype(str)
    Test['supervisor'+str(i)] = Test['supervisor'].astype(str)+'_'+Test[i].astype(str)

In [81]:
cols = ['phys_health_interview',
        'mental_vs_physical', 'obs_consequence']

for i in cols:
    Train['mental_health_interview'+str(i)] = Train['mental_health_interview'].astype(str)+'_'+Train[i].astype(str)
    Test['mental_health_interview'+str(i)] = Test['mental_health_interview'].astype(str)+'_'+Test[i].astype(str)

In [82]:
cols = ['mental_vs_physical', 'obs_consequence']

for i in cols:
    Train['phys_health_interview'+str(i)] = Train['phys_health_interview'].astype(str)+'_'+Train[i].astype(str)
    Test['phys_health_interview'+str(i)] = Test['phys_health_interview'].astype(str)+'_'+Test[i].astype(str)

In [83]:
cols = ['obs_consequence']

for i in cols:
    Train['mental_vs_physical'+str(i)] = Train['mental_vs_physical'].astype(str)+'_'+Train[i].astype(str)
    Test['mental_vs_physical'+str(i)] = Test['mental_vs_physical'].astype(str)+'_'+Test[i].astype(str)

In [84]:
Train.shape, Test.shape

((1048, 241), (210, 240))

In [85]:
Train1 = Train
Test1  = Test

In [86]:
#Label Encoder

for i in Train1.columns:
    if (Train1[i].dtypes == 'object'):
        Train1[i] = label.fit_transform(Train1[i])
        
for i in Test1.columns:
    if (Test1[i].dtypes == 'object'):
        Test1[i] = label.fit_transform(Test1[i])

In [87]:
Train1.to_csv('new_train.csv', index = False)
Test1.to_csv('new_test.csv', index = False)