In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


import warnings
warnings.filterwarnings('ignore')

In [2]:
train = pd.read_csv('train_NIR5Yl1.csv')
test = pd.read_csv('test_8i3B3FC.csv')

In [3]:
train.shape, test.shape

((330045, 7), (141448, 6))

In [4]:
train.head()

       ID Tag  Reputation  Answers  Username    Views  Upvotes
0   52664   a      3942.0      2.0    155623   7855.0     42.0
1  327662   a     26046.0     12.0     21781  55801.0   1175.0
2  468453   c      1358.0      4.0     56177   8067.0     60.0
3   96996   a       264.0      3.0    168793  27064.0      9.0
4  131465   c      4271.0      4.0    112223  13986.0     83.0

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330045 entries, 0 to 330044
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ID          330045 non-null  int64
 1   Tag         330045 non-null  object
 2   Reputation  330045 non-null  float64
 3   Answers     330045 non-null  float64
 4   Username    330045 non-null  int64
 5   Views       330045 non-null  float64
 6   Upvotes     330045 non-null  float64
dtypes: float64(4), int64(2), object(1)
memory usage: 17.6+ MB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141448 entries, 0 to 141447
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ID          141448 non-null  int64
 1   Tag         141448 non-null  object
 2   Reputation  141448 non-null  float64
 3   Answers     141448 non-null  float64
 4   Username    141448 non-null  int64
 5   Views       141448 non-null  float64
dtypes: float64(3), int64(2), object(1)
memory usage: 6.5+ MB

In [7]:
train.describe(include = 'all')

,ID,Tag,Reputation,Answers,Username,Views,Upvotes
count,330045.000000,330045,3.300450e+05,330045.000000,330045.000000,3.300450e+05,330045.000000
unique,NaN,10,NaN,NaN,NaN,NaN,NaN
top,NaN,c,NaN,NaN,NaN,NaN,NaN
freq,NaN,72458,NaN,NaN,NaN,NaN,NaN
mean,235748.682789,NaN,7.773147e+03,3.917672,81442.888803,2.964507e+04,337.505358
std,136039.418471,NaN,2.706141e+04,3.579515,49215.100730,8.095646e+04,3592.441135
min,1.000000,NaN,0.000000e+00,0.000000,0.000000,9.000000e+00,0.000000
25%,117909.000000,NaN,2.820000e+02,2.000000,39808.000000,2.594000e+03,8.000000
50%,235699.000000,NaN,1.236000e+03,3.000000,79010.000000,8.954000e+03,28.000000
75%,353620.000000,NaN,5.118000e+03,5.000000,122559.000000,2.687000e+04,107.000000
max,471493.000000,NaN,1.042428e+06,76.000000,175738.000000,5.231058e+06,615278.000000

In [8]:
test.describe(include = 'all')

,ID,Tag,Reputation,Answers,Username,Views
count,141448.000000,141448,1.414480e+05,141448.000000,141448.000000,1.414480e+05
unique,NaN,10,NaN,NaN,NaN,NaN
top,NaN,j,NaN,NaN,NaN,NaN
freq,NaN,30811,NaN,NaN,NaN,NaN
mean,235743.073497,NaN,7.920927e+03,3.914873,81348.231117,2.984633e+04
std,136269.867118,NaN,2.791072e+04,3.577460,49046.098215,8.034374e+04
min,7.000000,NaN,0.000000e+00,0.000000,4.000000,9.000000e+00
25%,117797.000000,NaN,2.860000e+02,2.000000,40222.750000,2.608000e+03
50%,235830.000000,NaN,1.245000e+03,3.000000,78795.500000,8.977000e+03
75%,353616.000000,NaN,5.123000e+03,5.000000,122149.000000,2.698925e+04
max,471488.000000,NaN,1.042428e+06,73.000000,175737.000000,5.004669e+06

In [9]:
train.isna().sum()

ID            0
Tag           0
Reputation    0
Answers       0
Username      0
Views         0
Upvotes       0
dtype: int64

In [10]:
test.isna().sum()

ID            0
Tag           0
Reputation    0
Answers       0
Username      0
Views         0
dtype: int64

In [11]:
train['Tag'].unique()

array(['a', 'c', 'r', 'j', 'p', 's', 'h', 'o', 'i', 'x'], dtype=object)

In [12]:
train.corr()

                  ID  Reputation   Answers  Username     Views   Upvotes
ID          1.000000    0.008546  0.017448  0.000628  0.017400  0.006328
Reputation  0.008546    1.000000  0.066504 -0.041019  0.036455  0.266710
Answers     0.017448    0.066504  1.000000 -0.012197  0.498642  0.202033
Username    0.000628   -0.041019 -0.012197  1.000000  0.002306 -0.011970
Views       0.017400    0.036455  0.498642  0.002306  1.000000  0.437336
Upvotes     0.006328    0.266710  0.202033 -0.011970  0.437336  1.000000

In [13]:
test.corr()

                  ID  Reputation   Answers  Username     Views
ID          1.000000    0.008629  0.012666 -0.000972  0.016451
Reputation  0.008629    1.000000  0.072639 -0.041645  0.038193
Answers     0.012666    0.072639  1.000000 -0.014374  0.517076
Username   -0.000972   -0.041645 -0.014374  1.000000  0.000856
Views       0.016451    0.038193  0.517076  0.000856  1.000000

In [14]:
train.columns

Index(['ID', 'Tag', 'Reputation', 'Answers', 'Username', 'Views', 'Upvotes'], dtype='object')

col = ['Tag', 'Reputation', 'Answers', 'Username', 'Views']

for i in col:
    train['ID'+str(i)] = train['ID'].astype(str)+"_"+train[i].astype(str)
    test['ID'+str(i)] = test['ID'].astype(str)+"_"+test[i].astype(str)

col = ['Reputation', 'Answers', 'Username', 'Views']

for i in col:
    train['Tag'+str(i)] = train['Tag'].astype(str)+"_"+train[i].astype(str)
    test['Tag'+str(i)] = test['Tag'].astype(str)+"_"+test[i].astype(str)

col = ['Answers', 'Username', 'Views']

for i in col:
    train['Reputation'+str(i)] = train['Reputation'].astype(str)+"_"+train[i].astype(str)
    test['Reputation'+str(i)] = test['Reputation'].astype(str)+"_"+test[i].astype(str)

col = ['Username', 'Views']

for i in col:
    train['Answers'+str(i)] = train['Answers'].astype(str)+"_"+train[i].astype(str)
    test['Answers'+str(i)] = test['Answers'].astype(str)+"_"+test[i].astype(str)

col = ['Views']

for i in col:
    train['Username'+str(i)] = train['Username'].astype(str)+"_"+train[i].astype(str)
    test['Username'+str(i)] = test['Username'].astype(str)+"_"+test[i].astype(str)

In [15]:
train.shape, test.shape

((330045, 7), (141448, 6))

In [16]:
train.columns

Index(['ID', 'Tag', 'Reputation', 'Answers', 'Username', 'Views', 'Upvotes'], dtype='object')

In [17]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()

for i in train.columns:
    if (train[i].dtypes == 'object'):
        train[i] = label.fit_transform(train[i])
 

for i in test.columns:
    if (test[i].dtypes == 'object'):
        test[i] = label.fit_transform(test[i])

In [18]:
train['Upvotes'] = train['Upvotes'].astype(int)

# Model building

In [19]:
from sklearn.preprocessing import StandardScaler
Ss = StandardScaler()
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [20]:
X = train.drop(['Upvotes'], axis = 1)
y = train[['Upvotes']]
X.astype(int)

            ID  Tag  Reputation  Answers  Username  Views
0        52664    0        3942        2    155623   7855
1       327662    0       26046       12     21781  55801
2       468453    1        1358        4     56177   8067
3        96996    0         264        3    168793  27064
4       131465    1        4271        4    112223  13986
...        ...  ...         ...      ...       ...    ...
330040  339800    1          36        2     84919   1063
330041  253800    1        1649        2     76730  23319
330042  210756    1        6178        2     91701   2453
330043   56089    4          89        2     80245   2107
330044  300553    4        2001        4    154692   2554

[330045 rows x 6 columns]

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 665)
trainx = Ss.fit_transform(X_train)
testx = Ss.fit_transform(X_test)

In [22]:
test1 = Ss.fit_transform(test)

In [23]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor
from sklearn.linear_model import SGDRegressor
from sklearn.ensemble import AdaBoostRegressor





lin = LinearRegression()
KNN = KNeighborsRegressor()
NB = GaussianNB() 
SVM = SVR()
DT = DecisionTreeRegressor(criterion='mse', splitter='random', 
                           max_depth=5000, min_samples_split=25, min_samples_leaf=15, 
                           min_weight_fraction_leaf=0.0, max_features=None, 
                           random_state=645, max_leaf_nodes=None, 
                           min_impurity_decrease=0, min_impurity_split=None, 
                           ccp_alpha=0)
RF = RandomForestRegressor()
#n_estimators=5000, criterion='mse', max_depth=None, 
#                             min_samples_split=25, min_samples_leaf=15, min_weight_fraction_leaf=0.0, 
#                             max_features='log2', max_leaf_nodes=None, min_impurity_decrease=0.0, 
#                             min_impurity_split=None, bootstrap=True, oob_score=False, n_jobs=-1, 
#                             random_state=645, verbose=0, warm_start=False, 
#                             ccp_alpha=0.0, max_samples=None)

BC = BaggingRegressor(base_estimator = DT, n_estimators = 80)
GBR = GradientBoostingRegressor()
xgb = XGBRegressor()
SGD = SGDRegressor()
ADC = AdaBoostRegressor()

In [24]:
lin.fit(trainx, y_train)
y_pred1 = lin.predict(testx)
MSE = metrics.mean_squared_error(y_test,y_pred1)
print('MSE:     ', MSE)
rmse2 = np.sqrt(MSE)
print('rmse is:    ',rmse2)

MSE:      11436301.57647328
rmse is:     3381.7601299431753

In [25]:
KNN.fit(X_train, y_train)
y_pred2 = KNN.predict(X_test)
MSE = metrics.mean_squared_error(y_test,y_pred2)
print('MSE:     ', MSE)
rmse3 = np.sqrt(MSE)
print('rmse is:    ',rmse3)

MSE:      6731871.705380176
rmse is:     2594.5850738374675

SVM.fit(X_train, y_train)
y_pred3 = SVM.predict(X_test)
MSE = metrics.mean_squared_error(y_test,y_pred3)
print('MSE:     ', MSE)
rmse4 = np.sqrt(MSE)
print('rmse is:    ',rmse4)

In [26]:
DT.fit(X_train, y_train)
y_pred4 = DT.predict(X_test)
MSE = metrics.mean_squared_error(y_test,y_pred4)
print('MSE:     ', MSE)
rmse5 = np.sqrt(MSE)
print('rmse is:    ',rmse5)

MSE:      9516812.02686731
rmse is:     3084.9330668374814

RF.fit(X_train, y_train)
y_pred5 = RF.predict(X_test)
MSE = metrics.mean_squared_error(y_test,y_pred5)
print('MSE:     ', MSE)
rmse6 = np.sqrt(MSE)
print('rmse is:    ',rmse6)

In [27]:
BC.fit(X_train, y_train)
y_pred6 = BC.predict(X_test)
MSE = metrics.mean_squared_error(y_test,y_pred6)
print('MSE:     ', MSE)
rmse7 = np.sqrt(MSE)
print('rmse is:    ',rmse7)

MSE:      7219716.85829372
rmse is:     2686.9530807763877

In [28]:
GBR.fit(X_train, y_train)
y_pred7 = GBR.predict(X_test)
MSE = metrics.mean_squared_error(y_test,y_pred7)
print('MSE:     ', MSE)
rmse8 = np.sqrt(MSE)
print('rmse is:    ',rmse8)

MSE:      1396708.32417178
rmse is:     1181.8241511205379

In [29]:
xgb.fit(X_train, y_train)
y_pred8 = xgb.predict(X_test)
MSE = metrics.mean_squared_error(y_test,y_pred8)
print('MSE:     ', MSE)
rmse9 = np.sqrt(MSE)
print('rmse is:    ',rmse9)

MSE:      1690457.535662555
rmse is:     1300.1759633459446

In [30]:
SGD.fit(X_train, y_train)
y_pred9 = SGD.predict(X_test)
MSE = metrics.mean_squared_error(y_test,y_pred9)
print('MSE:     ', MSE)
rmse10 = np.sqrt(MSE)
print('rmse is:    ',rmse10)

MSE:      1.6353485208209868e+38
rmse is:     1.2788074604180986e+19

In [31]:
ADC.fit(X_train, y_train)
y_pred10 = ADC.predict(X_test)
MSE = metrics.mean_squared_error(y_test,y_pred10)
print('MSE:     ', MSE)
rmse11 = np.sqrt(MSE)
print('rmse is:    ',rmse11)

MSE:      21633755.82007766
rmse is:     4651.2101457661165

In [33]:
rmse_list = [rmse2,rmse3,rmse5,rmse7,rmse8,rmse9,rmse10,rmse11]

In [37]:
Algo_names = [ 'Linear Regression', 'KNeighborsRegressor','DecisionTree',
              'BaggingClassifier','GradientBoostingClassifier', 'XGBoost', 'SGDClassifier',
              'AdaBoostClassifier']

In [38]:
evaluation = pd.DataFrame({'Model': Algo_names, 'RMSE': rmse_list})
evaluation.sort_values(by = 'RMSE', ascending = False)

                        Model          RMSE
6               SGDClassifier  1.278807e+19
7          AdaBoostClassifier  4.651210e+03
0           Linear Regression  3.381760e+03
2                DecisionTree  3.084933e+03
3           BaggingClassifier  2.686953e+03
1         KNeighborsRegressor  2.594585e+03
5                     XGBoost  1.300176e+03
4  GradientBoostingClassifier  1.181824e+03